body {
    margin: 0;
    background-color: rgb(230, 230, 230);
    margin-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(108, 106, 230);
    z-index: 3;
    position: fixed;
    top: 0;
    color: white;
    padding: 20px;
    font-size: 16pt;
    left: 0;
    right: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    font-size: 20px;
    text-indent: 5px;
    margin: 70px;
}
    

footer { 
    z-index: 1;
    background-color: rgb(108, 106, 230);
    color: white;
    padding: 20px;
    font-size: 16pt;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.show_notes {
    z-index: 4;
    position: fixed;
    top: 20px;
    left: 720px;
    text-decoration: none;
}


.create_notes {
    z-index: 4;
    position: fixed;
    top: 20px;
    left: 950px;
    text-decoration: none;

}


.login {
    z-index: 4;
    position: fixed;
    top: 20px;
    left: 1130px;
    border-radius: 10px;
    text-decoration: none;

}


.regist {
    z-index: 4;
    position: fixed;
    top: 20px;
    left: 84%;
    border-radius: 10px;
    text-decoration: none;

}


.user_name {
    z-index: 4;
    position: fixed;
    top: 20px;
    left: 94%;
    text-decoration: none;

}

.errors {
    color: red;
    font-weight: bold;
}

a {
    text-decoration: dashed;
    color: whitesmoke;
}
